*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

#header nav.header-nav {
  height: 100%;
}

#header nav.header-nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: "";
}

#header nav.header-nav ul li {
  margin-left: 2rem;
  height: 100%;
  display: flex;
  justify-content: "";
  align-items: center;
  border-bottom: 4px solid transparent;
}

#header nav.header-nav ul li.active,
#header nav.header-nav ul li:hover {
  border-bottom: 4px solid #0282f9;
}

#header nav.header-nav ul li a {
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
}

