*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
#header nav.header-nav {
  height: 100%;
}
#header nav.header-nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: "";
}
#header nav.header-nav ul li {
  margin-left: 2rem;
  height: 100%;
  display: flex;
  justify-content: "";
  align-items: center;
  border-bottom: 4px solid transparent;
}
#header nav.header-nav ul li.active, #header nav.header-nav ul li:hover {
  border-bottom: 4px solid #0282f9;
}
#header nav.header-nav ul li a {
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#footer-top {
  height: 18rem;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#footer-top div.footer-top-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: "";
  height: 100%;
}
#footer-top div.footer-top-content-links {
  width: 50%;
  padding: 1rem 0;
  display: flex;
  justify-content: "";
  align-items: "";
}
#footer-top div.footer-top-content-links .col:nth-child(2) {
  margin: 0 2rem;
}
#footer-top div.footer-top-content-links h4 {
  text-transform: uppercase;
  color: white;
}
#footer-top div.footer-top-content-links ul {
  padding: 1rem 0;
}
#footer-top div.footer-top-content-links ul li {
  font-size: 0.6rem;
}
#footer-top div.footer-top-content-links ul li a {
  color: #b4b4b4;
}
#footer-top div.footer-top-content div.footer-top-bg {
  width: 40%;
  height: 100%;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#footer-bottom {
  height: 20%;
  background-color: #303030;
  padding: 1rem 0;
}
#footer-bottom div.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#footer-bottom div.container .sing-up a {
  display: inline-block;
  color: white;
  border: 2px solid #0282f9;
  padding: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}
#footer-bottom div.container .social-icons {
  display: flex;
  justify-content: "";
  align-items: center;
}
#footer-bottom div.container .social-icons h4 {
  text-transform: uppercase;
  color: #0282f9;
  font-weight: bold;
}
#footer-bottom div.container .social-icons a {
  margin-left: 1rem;
}