@import './mixins';
@import './variables';

// RESET
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

// HEADER
#header{
    @include container;
    @include d-flex(space-between, center);
    height: 15vh;

    nav.header-nav{

        height: 100%;

        ul{
            height: 100%;
            @include d-flex(center, '');

            li{
                margin-left: 2rem;
                height: 100%;
                @include d-flex('', center);
                border-bottom: 4px solid transparent;

                &.active,
                &:hover{
                    border-bottom: 4px solid $secondaryColor;
                }

                a{
                    color: $fontColor;
                    text-transform: uppercase;
                    font-size: .8rem;
                }
            }
        }
    }

}

// FOOTER TOP

#footer-top{
    height: 18rem;
    background-image: url('/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    div.footer-top-content{
        @include container;
        @include d-flex(space-between, '');
        height: 100%;

        &-links{
            width: 50%;
            padding: 1rem 0;
            @include d-flex('', '');

            .col:nth-child(2){
                margin: 0  2rem;
            }

            h4{
                text-transform: uppercase;
                color: white;
            }

            ul{
                padding: 1rem 0;

                li{
                    font-size: .6rem;

                    a{
                        color: #b4b4b4;
                    }
                }
            }

        }

        div.footer-top-bg{
            width: 40%;
            height: 100%;
            background-image: url('/img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

// FOOTER BOTTOM
#footer-bottom{
    height: calc(100% - 80%);
    background-color: #303030;
    padding: 1rem 0;

    div.container{
        @include container;
        @include d-flex(space-between, center);
        height: 100%;

        .sing-up{

            a{
                display: inline-block;
                color: white;
                border: 2px solid $secondaryColor;
                padding: .7rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .social-icons{
            @include d-flex('', center);

            h4{
                text-transform: uppercase;
                color: $secondaryColor;
                font-weight: bold;
            }

            a {
                margin-left: 1rem;
            }

        }

    }

}
