@import './mixins';
@import './variables';

// RESET
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

// HEADER
#header{
    @include container;
    @include d-flex(space-between, center);
    height: 15vh;

    nav.header-nav{

        height: 100%;

        ul{
            height: 100%;
            @include d-flex(center, '');

            li{
                margin-left: 2rem;
                height: 100%;
                @include d-flex('', center);
                border-bottom: 4px solid transparent;

                &.active,
                &:hover{
                    border-bottom: 4px solid $secondaryColor;
                }

                a{
                    color: $fontColor;
                    text-transform: uppercase;
                    font-size: .8rem;
                }
            }
        }
    }

}
